.footer {
    position: relative;
    bottom: 0;
    display: block;
    border-top: 1px solid gainsboro;
    padding: 10px;
    width: 90%;  
    text-align: right;
    color: black;
    background-color: white;
    margin: 0 auto;
}