<div class="footer">
    <div>
        Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik,</a>
        <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry,</a>
        <a href="https://icon54.com/" title="Pixel perfect">Pixel perfect,</a>
        <a href="https://www.flaticon.com/authors/smartline" title="Smartline">Smartline</a>
        from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    </div>
    <div>
        Data provider <a href="https://exchangeratesapi.io/" title="Foreign exchange rates API">
            https://exchangeratesapi.io/
        </a>
    </div>
</div>