<section>
    <div class="grid-content">
        <!-- The first column - dropdown -->
        <div>
            <div class="selector">
                <div class="title">Select the base currency:</div>
                <div>
                    <div ngbDropdown class="d-inline-block" *ngIf="currencies">
                        <button class="btn btn-outline-light text-dark" id="dropdownBasic1" ngbDropdownToggle>
                            {{currencyBase }}
                            <span><img src="{{currencyBaseSrc}}" class="flag-main"></span>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="drop">
                            <button ngbDropdownItem *ngFor="let currencyBase of currencies | keyvalue"
                                value="{{currencyBase.key}}" (click)="selectCurrencyBase($event)">
                                <img src="{{currencyBase.value}}" class="flag" (click)="selectCurrencyBase($event)">
                                {{currencyBase.key}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="selector">
                    <div class="title">Select the base currency:</div>
                    <div>
                        <div ngbDropdown class="d-inline-block" *ngIf="currencies">
                            <button class="btn btn-outline-light text-dark" id="dropdownBasic1" ngbDropdownToggle>
                                {{currencyBase }}
                                <span><img src="{{currencyBaseSrc}}" class="flag-main"></span>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="drop">
                                <button ngbDropdownItem *ngFor="let currencyBase of currencies | keyvalue"
                                    value="{{currencyBase.key}}" (click)="selectCurrencyBase($event)">
                                    <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                    {{currencyBase.key}}
                                    <img src="{{currencyBase.value}}" class="flag">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- The second column - table -->
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th *ngFor="let base of header" scope="col">{{base}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let base of bases; let i = index">
                        <th scope="row">{{ base }}</th>
                        <td *ngIf="ratesRefs[base]">
                            <span
                                *ngIf="base !== bases[0]">{{ratesRefs[base].rates[bases[0]] | number: '1.2-2' }}</span>
                            <span *ngIf="base == bases[0]">-</span>
                        </td>
                        <td *ngIf="ratesRefs[base]">
                            <span
                                *ngIf="base !== bases[1]">{{ratesRefs[base].rates[bases[1]] | number: '1.2-2' }}</span>
                            <span *ngIf="base == bases[1]">-</span>
                        </td>
                        <td *ngIf="ratesRefs[base]">
                            <span
                                *ngIf="base !== bases[2]">{{ratesRefs[base].rates[bases[2]] | number: '1.2-2' }}</span>
                            <span *ngIf="base == bases[2]">-</span>
                        </td>
                        <td *ngIf="ratesRefs[base]">
                            <span
                                *ngIf="base !== bases[3]">{{ratesRefs[base].rates[bases[3]] | number: '1.2-2' }}</span>
                            <span *ngIf="base == bases[3]">-</span>
                        </td>
                        <td *ngIf="ratesRefs[base]">
                            <span
                                *ngIf="base !== bases[4]">{{ratesRefs[base].rates[bases[4]] | number: '1.2-2' }}</span>
                            <span *ngIf="base == bases[4]">-</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>