.grid-content {
  display: grid;
  grid-template-columns: 40% auto;
  width: 100%;
  @media only screen and (max-width: 600px) {
    display: block;
    width: 90%;
  }
}

.selector {
  margin: 40px;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.dropdown {
  background-color: gainsboro;
  border-radius: 5px;
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: scroll;
  padding-left: 10px;;
}

.flag {
  display: inline-block;
  height: 24px;
  width: 24px;
  float: right;
}

.flag-main {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-left: 8px;
}
