
  <div class="page">
    <div class="logo">
      <h1><span class="img"><img src="../assets/images/icons/logo.png" width="48" height="48"> </span>Currency Converter</h1>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/crossrates" routerLinkActive="active">Cross Rates</a></li>
        <li><a routerLink="/latest" routerLinkActive="active">Latest Rates</a></li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
