<div class="flex-container">
    <div>
        <div>
            <label>
                <div class="header">Currency I have</div>
                <div class="input">
                    <input value="">
                </div>
                <div class="select">
                    <button>
                        <span>USD</span>
                        <span>
                            <select id="country" name="country">
                                <option value="australia">Australia</option>
                                <option value="canada">Canada</option>
                                <option value="usa">USA</option>
                            </select>
                        </span>
                    </button>
                </div>
                <div class="footer">1 USD = 26.765 UAH</div>
            </label>
        </div>
    </div>
    <div>
        <button>
            <span>

            </span>
        </button>
    </div>
    <div>
        <div>
            <label>
                <div class="header">
                    Currency I want
                </div>

                <input value="">
                <div class="select">
                    <button>
                        <span>USD</span>
                        <span>
                            <select id="country" name="country">
                                <option value="australia">Australia</option>
                                <option value="canada">Canada</option>
                                <option value="usa">USA</option>
                            </select>
                        </span>
                    </button>
                </div>

                <div class="footer">
                    1 UAH = 0.0374 USD
                </div>
            </label>
        </div>
    </div>
</div>

    <div class="btn-group btn-group-toggle m-2">
        <div *ngFor="let period of periods; let i = index" 
                [class.active] = "currentIndex === i"
                class='btn btn-light' 
                (click)="handleClick(i)">
            {{period}}
        </div>
    </div>

<app-rate-dynamics ></app-rate-dynamics>

<!-- [currentIndex]='currentIndex' -->