/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap");

* {
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  width: 100%;
}

.converter {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f1f1f1;
  width: 100%;
  margin-top: 20px;
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.converter-row {
  display: flex;
  width: 70%;
  @media only screen and (max-width: 600px) {
    display: block;
    width: 100%;
  }
}

.column {
  display: inline-block;
  width: 47%;
  @media only screen and (max-width: 600px) {
    display: inline-block;
    width: 100%;
  }
}

.column-icon {
  width: 5%;
  position: relative;
  .icon-exchange {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("../../../assets/images/icons/change.png");
  }
  @media only screen and (max-width: 600px) {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    .icon-exchange {
      display: block;
      width: 32px;
      height: 32px;
      background-image: url("../../../assets/images/icons/change-v.png");
    }
  }
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.input-header {
  display: block;
  font-size: 18px;
  font-weight: 600;
  padding-left: 30px;
}

.input-footer {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  position: relative;
  bottom: 0;
  padding-left: 30px;
}

.input-content {
  display: flex;
  width: 100%;
}

input,
textarea {
  display: inline-block;
  font-size: 26px;
  font-weight: 800;
  padding: 10px;
  outline: none;
  background-color: #f1f1f1;
  border: 1px solid gainsboro;
  border-radius: 5px 0 0 5px;
  height: 62px;
  width: 65%;
  vertical-align: middle;
  margin-left: 30px;
  &:hover {
    outline: none;
  }
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: gray;
    opacity: 1;
  }
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: scroll;
  background-color: green($color: #000000);
}

.dropdown {
  display: inline-block;
  border: 1px solid gainsboro;
  border-left: none;
  border-radius: 0 5px 5px 0;
}

.drop {
  background-color: #f1f1f1;
  &:hover {
    background-color: #f1f1f1;
  }
}

select {
  border: none;
  background-color: #f1f1f1;
  margin-right: 3px;
  outline: none;
  &:hover {
    border: none;
    outline-style: none;
  }
  &:focus {
    border: none;
    outline-style: none;
  }
}

.flag {
  display: inline-block;
  height: 24px;
  width: 24px;
  float: right;
}

.flag-main {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-left: 8px;
}

button {
  display: inline-block;
  height: 60px;
  border: none;
  background-color: #f1f1f1;
  outline: none;
}

.select {
  display: inline-block;
}

.right {
  display: flex;
  float: right;
}

.thumb {
  cursor: pointer;
}

// .active {
//   background-color: #df6c4f !important;
// }

// custom select box
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;

  select {
    display: none; /*hide original SELECT element:*/
  }
}

.select-selected {
  background-color: DodgerBlue;
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.period-menu {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.left {
  text-align: left;
}
