<section>
    <div class="converter" *ngIf="data">
        <div class="row align-items-center">
            <div class="col">
                <label>
                    <div class="input-header left">Currency I have</div>
                    <div class="input-content">
                        <input value="" class="d-inline-block">
                    </div>
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-light text-dark" id="dropdownBasic1" ngbDropdownToggle>
                            {{currencySource}}
                            <span><img src="{{currencySourceSrc}}" class="flag"></span>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="drop">
                            <button ngbDropdownItem *ngFor="let currencySource of data | keyvalue"
                                value="{{currencySource.key}}" (click)="selectCurrencySource($event.target.value)">
                                {{currencySource.key}}
                                <span><img src="{{currencySource.value}}" class="flag"></span>
                            </button>
                        </div>
                    </div>
                    <div class="input-footer left">1 USD = 26.765 UAH</div>
                </label>
            </div>

            <div>
                <button>
                    <span>
                        <img src="../../../assets/images/icons/exchange (1).png">
                    </span>
                </button>
            </div>

            <div class="col">
                <label>
                    <div class="input-header left">
                        Currency I want
                    </div>
                    <div>
                        <div class="d-inline-block input-content">
                            <input value="">
                        </div>
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-light text-dark" id="dropdownBasic1" ngbDropdownToggle>
                                {{currencyTarget}}
                                <span><img src="{{currencyTargetSrc}}" class="flag"></span>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="drop">
                                <button ngbDropdownItem *ngFor="let currencyTarget of data | keyvalue"
                                    value="{{currencyTarget.key}}" (click)="selectCurrencyTarget($event.target.value)">
                                    {{currencyTarget.key}}
                                    <span><img src="{{currencyTarget.value}}" class="flag"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="input-footer left">
                        1 UAH = 0.0374 USD
                    </div>
                </label>
            </div>
        </div>
    </div>
    <div class="period-menu">
        <div class="btn-group btn-group-toggle m-2">
            <div *ngFor="let period of periods; let i = index" [class.active]="currentIndex === i" class='btn btn-light'
                (click)="handleClick(i)">
                {{period}}
            </div>
        </div>
    </div>
</section>

<app-rate-dynamics [period]='period'></app-rate-dynamics>