<section>
    <div *ngIf="latestRates; else loader">
      <div class="title">Latest Rates for '{{latestRates.rates.size}}'</div>
      <div class="table-content">
        <table class="table table-striped" *ngIf="!clicked">
          <thead>
            <tr>
              <th scope="col">Currency</th>
              <th scope="col">Rate</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let el of firstFiveRates | keyvalue">
              <th scope="row">{{ el.key }}</th>
              <td>
                {{ el.value }}
              </td>
            </tr>
          </tbody>
        </table>

        <button (click)="setFlag()" class="btn btn-outline-secondary">More...</button>

      </div>
    </div>
  
    <ng-template #loader>
      <div className="loader">Loading data...</div>
    </ng-template>
  </section>